.container
{
    width: 400px;
    border: solid 1px black;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.row
{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}
input, .box {
    height: 20px;
    /* width: 60%; */
    border: solid 1px;
}
p
{
    /* width: 40%; */
    text-align: start;
}
button{
    margin: 10px;
}